
  body {
	 text-align:center;
    animation:bg 4s infinite linear;
	-webkit-animation:bg 4s infinite linear;
 }
 
 /* @-webkit-keyframes bg {
	 0% {background-color:white;}
	 25% {background-color:green;}
	 50% {background-color:red;}
	 75% {background-color:yellow;}
	 100% {background-color:blue;}
 }


@keyframes bg {
     0% {background-color:blue;}
	 25% {background-color:orange;}
	 50% {background-color:red;}
	 75% {background-color:yellow;}
	 90% {background-color:green;}
	 100% {background-color:blue;}	
} */

 #potato {
	 margin-top:250px;
	 width:200px;
    animation:animation 3s infinite linear;
	-webkit-animation:animation 3s infinite linear;
 }

 @-webkit-keyframes animation {
   0% {
	-ms-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg);
	width:200px;}
	
   100% {
	-ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    transform:rotate(360deg);
	width:200px;}
 }

 @keyframes animation {
    0% {
    -ms-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg);
	width:200px;
	}
	
   100% {
	-ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    transform:rotate(360deg);
	width:200px;
	}
 }

ul {
	display:inline;
	position:absolute;
	margin-top:80px;
}
 
li {
	display:inline;
	margin:20px;
} 

form {
	display:inline;
	position:absolute;
	margin-top:30px;
	margin-left:-400px;
} 
 
input {
position:absolute;
height:42px;
width:564px;
color:black;
}

input[type="text"]
{
    font-size:20px;
}
 
#glogo {
	display:inline;
	width:auto;
	height:50px;
	margin-left:140px;
	margin-top:25px;
}

#madeby {
	bottom:0;
	position:absolute;
}

a {
	color:black;
}
	/* iphone 6 + */
	@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
{
	ul {
	margin-top:0px;
}
 #potato {
	 margin-top:400px;
	 width:500px;
 }
 li {
	display:inline;
	margin:20px;
} 

form {
	margin-top:35px;
	margin-left:-490px;
} 

 input {
height:82px;
width:700px;
}
 #glogo {
	display:inline;
	width:auto;
	height:100px;
	margin-left:180px;
	margin-top:25px;
}
 
 input[type="text"]
{
    font-size:40px;
}
 
 
 @-webkit-keyframes animation {
   0% {
	-ms-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg);
	width:500px;}
	
   100% {
	-ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    transform:rotate(360deg);
	width:500px;}
 }

 @keyframes animation {
    0% {
    -ms-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg);
	width:500px;
	}
	
   100% {
	-ms-transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    transform:rotate(360deg);
	width:500px;
	}
 }
 
#madeby {
	font-size:40px;
	bottom:0;
	position:absolute;
}
	
}

